:root {
    --backgroundcolour: #b3b3b3;
    --bordercolour: gold;
    --headercolour: #668cff;
}

header {
    margin: 0;
    width: 100%;
    display: inline-block;
    align-items: center;
    height: 42vh;
    /* justify-content: space-between; */
    background-color: var(--headercolour);
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: sans-serif;
}

/* li a {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    
} */

#imageheader {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: var(--backgroundcolour);    
    border: 3px solid var(--bordercolour);
}

#profile {
    max-height: 25rem;
    margin: auto;
    display: flex;
    background-color: var(--backgroundcolour);
}

h2 {
    font-family:sans-serif; color: black;
}

.container {
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25vh;
    border-left: 3px var(--bordercolour);
}

#about-me h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20rem;
    height: 100%;
    background-color: var(--headercolour);
}

p {
    font-family:sans-serif; color: black;
    border-left: 2px solid gold;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    padding-left: 2rem;
    padding-top: 1rem;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #b3b3b3;
}

#my-project h2 {
    display: flex;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    border: 2px solid var(--bordercolour);
    background-color: var(--headercolour);
}

footer h3 {
    display: inline-block;
}

@media screen {
    
}